body {
    /* Imagem de fundo*/
    background-image: url('imagemdefundo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /*navbar do menu*/
  .navbar {
    justify-content: flex-start;
  }
  /* Estilizaçao do conteúdo da página inicial */
.conteudo {
    color: #fff; /* Cor branca */
  }
    /* Aba contato */ 
    .sugestao-flutuante {
      position: fixed;
      top: 60%;
      bottom: 0px;
      right: 70%; 
      background-color: #fff; 
      padding: 20px; 
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    }
    /* aba promoção */
    .preco-anterior {
      text-decoration: line-through;
      color: red;
    }
.footer{
  text-align: center;
  color:#fff
}
