<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:title" content="Dream Travel Agência de Viagens" />
	<link rel="shortcut icon" href="img/icone.jpeg" type="image/x-icon">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="shortcut icon" href="img/icone.png" type="image/x-icon">
	<title> Dream Travel | Agência de Viagens </title>
</head>

<body>

	<!-- CABEÇALHO -->

	<div class="container-fluid">

		<header th:replace="reusavel::header('')">Header</header>

		<div class="container mt-4 mb-5">

			<div class="row text-center text-padrao">

				<div class="col-12">

					<h3> Perguntas Frequentes</h3>

				</div>


			</div>

			<div class="accordion accordion-flush" id="accordionFlushExample">

				<div class="accordion-item">
					<h2 class="accordion-header" id="flush-headingOne">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">

							<strong> Cancelamento e reembolso </strong>

						</button>
					</h2>
					<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
						data-bs-parent="#accordionFlushExample">
						<div class="accordion-body text-alinhado"> Para solicitar o cancelamento de um bilhete, o
							titular
							pagante pode acessar o formulário de autoatendimento (efetuando o login). O valor líquido de
							reembolso é igual ao valor total pago pelo(s) bilhete(s) = (tarifa + taxas), subtraído do
							valor da multa cobrada.
						</div>
					</div>
				</div>

				<div class="accordion-item">
					<h2 class="accordion-header" id="flush-headingTwo">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">

							<strong> Remarcação </strong>

						</button>
					</h2>
					<div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
						data-bs-parent="#accordionFlushExample">
						<div class="accordion-body text-alinhado">
							Nós não realizamos remarcações. Caso não possa viajar na data e/ou
							horário adquirido(s), recomendamos que solicite o cancelamento por meio de um dos nossos
							canais de atendimento.
						</div>
					</div>
				</div>

				<div class="accordion-item">
					<h2 class="accordion-header" id="flush-headingThree">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#flush-collapseThree" aria-expanded="false"
							aria-controls="flush-collapseThree">

							<strong> Documentos para embarque </strong>

						</button>
					</h2>
					<div id="flush-collapseThree" class="accordion-collapse collapse"
						aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
						<div class="accordion-body text-alinhado">

							Na hora do embarque tenha em mãos o <strong> documento com foto para voos nacionais
							</strong> e
							<strong> passaporte para voos internacionais </strong>. Atenção: destinos internacionais
							podem
							pedir comprovantes extras. Consulte diretamente a companhia aérea para saber mais.

						</div>
					</div>
				</div>


			</div>


			<div class="accordion accordion-flush" id="accordionFlushExample">


				<div class="accordion-item">

					<h2 class="accordion-header" id="flush-headingFour">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#flush-collapseFour" aria-expanded="false"
							aria-controls="flush-collapseFour">

							<strong> Chek-in e Horário de chegada ao aeroporto </strong>

						</button>
					</h2>
					<div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
						data-bs-parent="#accordionFlushExample">
						<div class="accordion-body text-alinhado">

							<strong> O check-in poderá ser feito 48 horas antes do embarque </strong>, através do site
							ou
							aplicativo da companhia aérea escolhida. Procure apresentar-se ao embarque com antecedência
							de
							pelo menos <strong> 2 horas para voos nacionais </strong> e <strong> 3 horas para voos
								internacionais</strong>.

						</div>
					</div>
				</div>

				<div class="accordion-item">
					<h2 class="accordion-header" id="flush-headingFive">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#flush-collapseFive" aria-expanded="false"
							aria-controls="flush-collapseFive">

							<strong> Animais de estimação </strong>

						</button>
					</h2>
					<div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
						data-bs-parent="#accordionFlushExample">
						<div class="accordion-body text-alinhado">

							Para viajar com animais, é necessário entrar em contato com a companhia aérea para verificar
							as
							condições desse transporte.

						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- FIM DÚVIDAS -->


		<!-- ICON SCROLL TOP -->

		<i onclick="subirTela()" class="ri-arrow-up-s-line" id="icon-top"></i>

		<!-- ICON SCROLL TOP -->


		<footer th:replace="reusavel::footer">Footer</footer>


		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>