<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:title" content="Dream Travel Agência de Viagens" />

	<link rel="shortcut icon" href="img/icone.jpeg" type="image/x-icon">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/style.css}">

	<link rel="shortcut icon" href="img/icone.png" type="image/x-icon">


	<title> Dream Travel | Agência de Viagens </title>

</head>
<body>
	<header th:replace="/reusavel::header('')"></header>
	<main>		
		<div class="container mt-5">
			<h1 class="text-center">Erro 403</h1>
			<p>Seu perfil de usuário não tem permissão para acessar essa página</p>
		</div>
	</main>
	<footer th:replace="/reusavel::footer"></footer>
</body>
</html>