<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:title" content="Dream Travel Agência de Viagens" />
	<link rel="shortcut icon" href="img/icone.jpeg" type="image/x-icon">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="shortcut icon" href="img/icone.png" type="image/x-icon">
	<title> Dream Travel | Agência de Viagens </title>
</head>

<body>

	<!-- CABEÇALHO -->

	<div class="container-fluid">
		
		<header th:replace="reusavel::header('')">Header</header>

		<section class="help-section">
			<div class="container">
				<h2 class="text-center">Central de Ajuda</h2>
				<p>Estamos aqui para ajudar! Escolha a opção mais conveniente para entrar em contato conosco.</p>

				<div class="contact-options">
					<div class="row">

						<!-- Card para contato via WhatsApp -->
						<div class="col-sm-12 col-md-4">
							<div class="card contact-card">
								<div class="card-body">
									<h5 class="card-title">Contato pelo WhatsApp</h5>
									<p class="card-text">Converse conosco via WhatsApp para assistência rápida.</p>
									<a href="https://api.whatsapp.com/send?phone=SEU_NUMERO_DE_TELEFONE_COM_DDI"
										class="btn btn-success" target="_blank">Iniciar Conversa</a>
								</div>
							</div>
						</div>

						<!-- Card para abrir o formulário de contato -->
						<div class="col-sm-12 col-md-4">
							<div class="card contact-card">
								<div class="card-body">
									<h5 class="card-title">Formulário de Contato Rápido</h5>
									<p class="card-text">Preencha nosso formulário para que possamos ajudar você.</p>
									<a href="contato.html" button class="btn btn-primary" onclick="toggleForm()">Abrir
										Formulário</button> </a>
								</div>
							</div>
						</div>

						<!-- Card com informações do canal telefônico -->
						<div class="col-sm-12 col-md-4">
							<div class="card contact-card">
								<div class="card-body">
									<h5 class="card-title">Canal Telefônico</h5>
									<p class="card-text">Ligue para nós para assistência imediata.</p>
									<p>Número de Telefone: 022 994567804</p>
									<p>Horário de Atendimento: Seg-Sex, 9h às 18h</p>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>

		<footer th:replace="reusavel::footer">Footer</footer>



		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous"></script>
</body>

</html>