<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:title" content="Dream Travel Agência de Viagens" />

	<link rel="shortcut icon" href="img/icone.jpeg" type="image/x-icon">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/style.css}">

	<link rel="shortcut icon" href="img/icone.png" type="image/x-icon">


	<title> Dream Travel | Agência de Viagens </title> 

</head>
<body>

   <!-- CABEÇALHO -->

	<div class="container-fluid">

	    <header th:replace="reusavel::header('/passagem')">Header</header>
   
 	</div>

  	<!--Seção de Viagens em Destaque --> 

	<main class="container mb-5">
		
		<div class="col-12 mt-5 text-center">
	        <h2 class="mb-4 text-padrao">Passagem</h2>			
	    </div> 

 		<div
		 	th:object="${pedido.passagem}">
		 	
		 	<div class="row">
				 <div class="col-4">
		    		<img th:if="*{destino.imagem != null}" th:src="*{destino.imagemBase64}" 
		    			class="card-img-top" alt="Paris">
				 </div>
				 <div class="col-8">
				 	<h4 class="card-title" th:text="*{destino.nome}">Paris</h4>
				 	<p th:text="*{destino.descricao}">Descrição</p>
	        	 	<div th:if="*{promocao == null}">
						R$ <span th:text="*{destino.precoMedio}">5.300</span> 
					</div>
					<div th:if="*{promocao != null}">						
		        		<p class="card-text text-danger m-0 small">
							De R$ <del th:text="*{destino.precoMedio}"> R$ 6.000 </del> Por 
						</p>
			        	<h4 class="card-text text-success">
							R$ <span th:text="*{promocao.valorPromocional}">5.300</span> 
						</h4>
					</div>
			 	</div>
		 	</div>
		 	<div class="row mt-3">
				<div class="col">
					<form class="form" method="post" th:action="@{/pedido}" th:object="${pedido}">
						
						<input type="hidden" th:field="*{id}">
						
						<input type="hidden" th:field="*{passagem.id}">
						
						<div th:object="${pedido.cliente}">							
							<div class="form-group">
								<label for="cliente.cpf">CPF</label>
								<input type="text" th:field="*{cpf}" required>
							</div>
							
							<div class="form-group">
								<label for="cliente.nome">Nome</label>
								<input type="text" th:field="*{nome}" required>
							</div>
							
							<div class="form-group">
								<label for="cliente.tel">Telefone</label>
								<input type="tel" th:field="*{tel}" required>
							</div>
							
							<div class="form-group">
								<label for="cliente.email">E-mail</label>
								<input type="email" th:field="*{email}" required>
							</div>
						</div>
						
	 					<div class="form-group">
			 				<label id="formaPagamento">Forma de pagamento</label>
					 		<select th:field="*{formaPagamento}" class="form-control">
						 		<option th:each="forma : ${formasPagamento}" 
						 			th:value="${forma.id}" th:text="${forma.nome}">Opção</option>
						 	</select>
					 	</div>
					 	
					 	<div class="form-group">							 
				 			<button class="btn">Enviar</button>
					 	</div>
					 	
					 </form>
				 </div>
			 </div>
		</div>
	    
	</main>

    <i onclick="subirTela()" class="ri-arrow-up-s-line" id="icon-top"></i>

	<footer th:replace="reusavel::footer">Footer</footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script th:src="@{/js/todo.js}"></script>
    <script>
		const campoCpf = document.getElementById("cliente.cpf");
		campoCpf.addEventListener("blur", function (e) {
			
			limpaCampos();
			
			if (e.target.value.trim().length == 0) {
				return;
			}
			
			const ajax = new XMLHttpRequest();
			
			ajax.onload = function () {
				let cliente = JSON.parse(ajax.responseText);
				
				if ([500, 404].includes(cliente.status)) {
					return;
				}
				
				preencheCampos(cliente);
			};
			
			ajax.open("GET", `/pedido/cliente/${e.target.value}`);
			
			ajax.send();
		});
		
		function limpaCampos() {
			
			limpaCampo("cliente.email");
			limpaCampo("cliente.tel");
			limpaCampo("cliente.nome");
		}
		
		function limpaCampo(id) {
			
			const campo = document.getElementById(id);
			if (campo == null) {
				return;
			}
			campo.value = "";
			campo.readOnly = false;
		}
		
		function preencheCampos(cliente) {
			
			preencheCampo("cliente.email", cliente.email);
			preencheCampo("cliente.tel", cliente.tel);
			preencheCampo("cliente.nome", cliente.nome);
		}
		
		function preencheCampo(id, valor) {
			
			let campo = document.getElementById(id);
			if (campo == null) {
				return;
			}
			campo.value = valor;
			campo.readOnly = true;
		}
	</script>
</body>
</html>